@import "tailwindcss";
@import "tw-animate-css";

/* main {
  overflow-x: hidden;
} */

:root{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #EAEFEF;
  color: #2C2F3B;
  font-size: 16px;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

@theme{
  --color-retro:#D26C31;
  --color-white:#EAEFEF;
  --color-pastel-olive:#B2CD9C;
  --color-dark:#2C2F3B;
}

@layer components{
  .btn-fill{
    @apply py-2 px-5 rounded-md bg-retro text-white hover:bg-amber-700 border-retro border text-xl font-semibold my-5 mx-2 cursor-pointer;
  }

  .btn-outline{
    @apply py-2 px-5 rounded-md border-retro border text-xl font-semibold my-5 mx-2 cursor-pointer;
  }

  .active-btn{
    @apply font-black text-retro
  }
  .title{
    @apply text-2xl font-bold text-center text-retro
  }

  .box-shadow{
    @apply p-2 my-5 border border-gray-300 rounded-lg shadow-lg
  }
}


