@import "tailwindcss";
@import "tw-animate-css";


:root{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #EAEFEF;
  color: #2C2F3B;
  font-size: 16px;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar hide Effect prevent  */
html body[data-scroll-locked] {
	overflow-y: scroll !important;
	margin-right: 0px !important;
}

@theme{
  --color-retro:#D26C31;
  --color-white:#EAEFEF;
  --color-pastel-olive:#B2CD9C;
  --color-dark:#2C2F3B;
}


@layer components{
  .btn-fill{
    @apply py-2 px-5 rounded-md bg-retro text-white hover:bg-amber-700 active:bg-amber-700 border-retro border  font-semibold my-5 mx-2 cursor-pointer;
  }

  .btn-outline{
    @apply py-2 px-5 rounded-md border-retro border font-semibold my-5 mx-2 cursor-pointer;
  }

  .btn-fill-gradient{
    @apply py-2 px-5 rounded-md bg-gradient-to-r from-dark to-retro text-white hover:bg-gradient-to-l border-retro border text-sm font-semibold my-5 mx-2 cursor-pointer;
  }

  .btn-outline-gradient{
    @apply py-2 px-5 rounded-md border-retro hover:bg-gradient-to-l from-dark to-retro hover:text-white border text-sm font-semibold my-5 mx-2 cursor-pointer;
  }


  .active-btn{
    @apply font-black text-retro
  }
  .title{
    @apply text-2xl font-bold text-center text-retro
  }

  .box-shadow{
    @apply p-2 my-5 border border-pastel-olive rounded-lg shadow-lg
  }

}


